/* All the styling for the nav bar at the top of the page. */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

#nav-bar {
   position: fixed;
   height: 80px;
   width: 100vw;
   display: block;
   background-color: #00a087;
   color: #e8fdff;
   padding: 0px 2em 0px 2em;
   z-index: 1;
}

#nav-bar .logo {
    height: 80px;
    width: 80px;
    float: left;
}

#nav-bar .header {
    font-size: 2em;
    line-height: 2.6;
    float: left;
}

#compose-button {
  float: right;
  width: 110px;
  height: 65px;
  border: 1px solid black;
  border-radius: 5px;
  color: #00a087;
  margin: 7px 0px 0px 0px;
  font-size: 1.3rem;
}

#compose-img {
  width: 15px;
  height: 15px;
}

.button-hover {
  color: black !important;
}